*{
    margin:0;
    padding:0;
}

header{
    background-color: bisque;
}

main{
    background-color: aqua;
    width: 85%;
    float:right;
}

aside{
    background-color: blueviolet;
    width: 15%;
}

nav{
    background-color: chartreuse;
}

footer{
    position: fixed;
    width: 100%;
    background-color: darkgreen;
}

.contactButton{
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    margin: 5% 25%;
    border-radius: 5%;
}